.part.bottom .container {
  padding-top: 135px;
  margin-bottom: 125px; }
  @media screen and (max-width: 768px) {
    .part.bottom .container {
      margin-bottom: 25px; } }
  .part.bottom .container .contact-header {
    text-align: right;
    text-transform: uppercase;
    color: #40C2D5;
    float: right;
    margin: 0px 0px 115px 0px;
    position: relative;
    font-size: 50px; }
    @media screen and (min-width: 768px) {
      .part.bottom .container .contact-header {
        font-size: 60px; }
        .part.bottom .container .contact-header br {
          display: none; } }
    .part.bottom .container .contact-header .line {
      position: absolute;
      width: 2000px;
      height: 2px;
      background-color: #40C2D5;
      top: 16px;
      left: -2030px; }
      @media screen and (min-width: 400px) {
        .part.bottom .container .contact-header .line {
          left: -2030px; } }
  .part.bottom .container form .form {
    margin-left: 50px;
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
    -moz-box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
    box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
    border-radius: 2px; }
    @media screen and (min-width: 992px) {
      .part.bottom .container form .form {
        padding-left: 0px; } }
    @media screen and (min-width: 1200px) {
      .part.bottom .container form .form {
        width: calc(100% - 70px);
        float: right; } }
    .part.bottom .container form .form .text {
      position: absolute;
      top: 83px;
      left: -140px;
      padding: 0px 20px;
      background-color: transparent;
      z-index: 100;
      text-transform: uppercase;
      color: #40C2D5;
      -webkit-transform: rotate(270deg);
      /* Safari and Chrome */
      -moz-transform: rotate(270deg);
      /* Firefox */
      -ms-transform: rotate(270deg);
      /* IE 9 */
      -o-transform: rotate(270deg);
      /* Opera */
      transform: rotate(270deg); }
      @media screen and (min-width: 992px) {
        .part.bottom .container form .form .text {
          left: -190px;
          font-size: 30px;
          top: 125px; } }
      @media screen and (min-width: 1200px) {
        .part.bottom .container form .form .text {
          left: -210px;
          font-size: 30px;
          top: 125px; } }
    .part.bottom .container form .form .input {
      padding: 20px 25px;
      width: 100%;
      display: block;
      height: 60px;
      background-color: #f5fcfd;
      border: 0px;
      border-bottom: 3px solid #9fe1ea;
      color: rgba(0, 0, 0, 0.7); }
      .part.bottom .container form .form .input:active, .part.bottom .container form .form .input:hover, .part.bottom .container form .form .input:focus {
        outline: none; }
      .part.bottom .container form .form .input:nth-child(2) {
        float: left; }
    .part.bottom .container form .form .input.inline {
      display: inline-block;
      width: 50%; }
      @media screen and (max-width: 768px) {
        .part.bottom .container form .form .input.inline {
          display: block;
          width: 100%; } }
    .part.bottom .container form .form .input.textarea {
      height: 320px; }
  .part.bottom .container form .button-submit {
    float: right;
    background-color: transparent;
    font-size: 35px;
    padding: 15px 20px;
    color: #40C2D5;
    text-transform: uppercase;
    border: none;
    position: relative; }
    .part.bottom .container form .button-submit:active, .part.bottom .container form .button-submit:hover, .part.bottom .container form .button-submit:focus {
      outline: none;
      color: #0088aa; }
    .part.bottom .container form .button-submit:active .triangle, .part.bottom .container form .button-submit:hover .triangle, .part.bottom .container form .button-submit:focus .triangle {
      border-color: transparent transparent transparent #0088aa; }
    .part.bottom .container form .button-submit .triangle {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #40C2D5;
      position: absolute;
      right: 0px;
      top: calc(50% - 9px); }
  .part.bottom .container .contact-data {
    text-align: right; }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      .part.bottom .container .contact-data {
        padding-right: 50px; } }
    .part.bottom .container .contact-data .logo {
      height: 53px;
      width: 232px;
      display: block;
      background-repeat: no-repeat;
      background-image: url("../images/logo3.svg");
      background-size: contain;
      float: right;
      margin-bottom: 35px;
      position: relative; }
    .part.bottom .container .contact-data .text {
      display: block;
      float: right; }
      .part.bottom .container .contact-data .text address, .part.bottom .container .contact-data .text .email, .part.bottom .container .contact-data .text .phone {
        margin-bottom: 20px; }
      .part.bottom .container .contact-data .text span {
        display: block; }
      .part.bottom .container .contact-data .text .email {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7); }
        .part.bottom .container .contact-data .text .email span {
          margin: 20px 0px 70px 0px; }
          .part.bottom .container .contact-data .text .email span:before {
            background-image: url("../images/envelope.svg");
            left: calc(100% - 230px); }
      .part.bottom .container .contact-data .text .phone, .part.bottom .container .contact-data .text .email span {
        position: relative; }
        .part.bottom .container .contact-data .text .phone:before, .part.bottom .container .contact-data .text .email span:before {
          position: absolute;
          content: "";
          top: 6px;
          height: 20px;
          width: 20px;
          background-size: 20px 20px; }
      .part.bottom .container .contact-data .text .phone {
        margin: 20px 0px; }
        .part.bottom .container .contact-data .text .phone:before {
          background-image: url("../images/phone.svg");
          left: calc(100% - 150px); }
    .part.bottom .container .contact-data .contact-links .icon {
      height: 30px;
      width: 30px;
      margin: 20px;
      display: inline-block;
      background: url(../images/icons1_svg.svg);
      background-repeat: no-repeat;
      background-size: 130px 60px; }
    .part.bottom .container .contact-data .contact-links .first {
      background-position: 0px -30px; }
      .part.bottom .container .contact-data .contact-links .first:hover, .part.bottom .container .contact-data .contact-links .first:active, .part.bottom .container .contact-data .contact-links .first:focus {
        background-position: 0px 0px; }
    .part.bottom .container .contact-data .contact-links .second {
      background-position: -50px -30px; }
      .part.bottom .container .contact-data .contact-links .second:hover, .part.bottom .container .contact-data .contact-links .second:active, .part.bottom .container .contact-data .contact-links .second:focus {
        background-position: -50px 0px; }
    .part.bottom .container .contact-data .contact-links .third {
      background-position: -105px -30px;
      margin-right: 0px; }
      .part.bottom .container .contact-data .contact-links .third:hover, .part.bottom .container .contact-data .contact-links .third:active, .part.bottom .container .contact-data .contact-links .third:focus {
        background-position: -105px 0px; }

.part.bottom footer {
  border-top: 2px dotted #9fe1ea;
  margin-top: 125px; }
  @media screen and (max-width: 768px) {
    .part.bottom footer {
      margin-top: 25px; } }
  .part.bottom footer .copyrights, .part.bottom footer .top, .part.bottom footer .design {
    font-size: 0.7em;
    display: inline-block; }
  .part.bottom footer .copyrights {
    float: left;
    width: 45%;
    padding: 25px 15px 25px 75px; }
  .part.bottom footer .top {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    width: 10%;
    padding: 25px 25px; }
    .part.bottom footer .top a, .part.bottom footer .top a:hover, .part.bottom footer .top a:active, .part.bottom footer .top a:focus {
      color: rgba(0, 0, 0, 0.7);
      text-decoration: none; }
    .part.bottom footer .top span {
      position: relative;
      padding: 10px; }
      .part.bottom footer .top span:before {
        position: absolute;
        top: 0px;
        left: calc(50% - 6px);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent #40C2D5 transparent; }
      .part.bottom footer .top span:hover::before {
        border-color: transparent transparent #0088aa transparent; }
  .part.bottom footer .design {
    float: right;
    width: 45%;
    text-align: right;
    padding: 25px 75px; }
    .part.bottom footer .design em {
      font-style: normal;
      color: #40C2D5; }
  @media screen and (max-width: 768px) {
    .part.bottom footer .top {
      display: none; }
    .part.bottom footer .copyrights, .part.bottom footer .design {
      width: 100%;
      text-align: center;
      float: none; }
    .part.bottom footer .copyrights {
      padding: 10px 10px 5px 10px; }
    .part.bottom footer .design {
      padding: 5px 10px 10px 10px; } }

.part.top {
  margin-bottom: 50px;
  padding-top: 60px; }
  @media screen and (max-width: 992px) {
    .part.top {
      height: auto; } }
  .part.top .navigation-s {
    z-index: 115;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
    -moz-box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
    box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2); }
    @media screen and (min-width: 768px) {
      .part.top .navigation-s {
        display: none; } }
    .part.top .navigation-s .img.name {
      float: left;
      height: 30px;
      width: 150px;
      margin: 15px 20px;
      background-size: cover;
      background-image: url("../images/logo3.svg");
      background-repeat: no-repeat; }
    .part.top .navigation-s .menu {
      background-color: #ffffff;
      position: absolute;
      top: 60px;
      left: 0px;
      width: 100%;
      box-shadow: 0px 5px 2px -3px rgba(25, 80, 87, 0.2);
      -webkit-box-shadow: 0px 5px 2px -3px rgba(25, 80, 87, 0.2);
      -moz-box-shadow: 0px 5px 2px -3px rgba(25, 80, 87, 0.2);
      height: 0px;
      transition: height 0.2s ease-in; }
      .part.top .navigation-s .menu .button {
        position: absolute;
        height: 30px;
        width: 45px;
        background-image: url(../images/logo4.svg);
        background-repeat: no-repeat;
        padding: 10px;
        background-position: center;
        content: "";
        display: block;
        background-size: contain;
        margin: 5px;
        border-radius: 2px;
        top: -50px;
        right: 15px;
        cursor: pointer; }
      .part.top .navigation-s .menu .items {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.15s, opacity 0.1s ease-in-out; }
        .part.top .navigation-s .menu .items a {
          text-decoration: none;
          color: #40C2D5;
          width: 100%; }
          .part.top .navigation-s .menu .items a .item {
            text-align: right;
            padding: 15px 20px;
            width: 100%; }
            .part.top .navigation-s .menu .items a .item:hover {
              background-color: #f5fcfd; }
            .part.top .navigation-s .menu .items a .item:active {
              background-color: #40C2D5;
              color: #ffffff; }
            .part.top .navigation-s .menu .items a .item span {
              width: 100%;
              margin: auto;
              height: 100%; }
    .part.top .navigation-s .menu.toggle {
      height: 174px; }
      .part.top .navigation-s .menu.toggle .items {
        visibility: visible;
        opacity: 1; }
  .part.top .navigation-l {
    overflow: hidden;
    display: none;
    z-index: 115;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
    -moz-box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
    box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2); }
    @media screen and (min-width: 768px) {
      .part.top .navigation-l {
        display: block; } }
    .part.top .navigation-l .img.name {
      float: left;
      height: 30px;
      width: 150px;
      margin: 15px 20px;
      background-size: cover;
      background-image: url("../images/logo3.svg");
      background-repeat: no-repeat; }
    .part.top .navigation-l .menu {
      background-color: #ffffff;
      position: absolute;
      top: 5px;
      right: -370px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      -webkit-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      -moz-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      -ms-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      -o-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26); }
    .part.top .navigation-l .button, .part.top .navigation-l .items {
      display: inline-block;
      float: left; }
    .part.top .navigation-l .button {
      cursor: pointer; }
      .part.top .navigation-l .button div .img {
        height: 40px;
        width: 55px;
        background-image: url(../images/logo4.svg);
        background-repeat: no-repeat;
        padding: 10px;
        background-position: center;
        content: "";
        display: block;
        background-size: contain;
        margin: 5px;
        border-radius: 2px; }
    .part.top .navigation-l .items a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7); }
      .part.top .navigation-l .items a:active, .part.top .navigation-l .items a:hover, .part.top .navigation-l .items a:focus {
        color: #40C2D5; }
      .part.top .navigation-l .items a .item {
        display: inline-block;
        float: left;
        margin: 8px 16px; }
        .part.top .navigation-l .items a .item span {
          padding: 8px 16px;
          margin: auto;
          height: 100%; }
    .part.top .navigation-l .menu.toggle {
      right: 0px; }

.row.company {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(25, 80, 87, 0.2);
  position: relative; }
  @media screen and (min-width: 992px) {
    .row.company {
      overflow-x: hidden; } }
  .row.company .img {
    background-size: cover; }
  .row.company .name {
    float: left;
    margin: 35px 45px;
    height: calc(20vw/4.8);
    width: 20vw;
    background-image: url("../images/logo3.svg");
    background-repeat: no-repeat; }
    @media screen and (max-width: 768px) {
      .row.company .name {
        margin: 20px 25px;
        height: calc(30vw/4.8);
        width: 30vw; } }
  .row.company .menu {
    position: absolute;
    top: 35px;
    right: -355px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
    -webkit-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
    -moz-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
    -ms-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
    -o-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26); }
    @media all and (max-width: 992px) {
      .row.company .menu {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .row.company .menu .button, .row.company .menu .item {
      display: inline-block;
      float: left; }
    .row.company .menu .button a .img {
      height: 40px;
      width: 55px;
      background-image: url(../images/logo4.svg);
      background-repeat: no-repeat;
      padding: 10px;
      background-position: center;
      content: "";
      display: block;
      background-size: contain;
      margin: 5px;
      border-radius: 2px; }
    .row.company .menu .item {
      display: inline-block;
      float: left;
      margin: 8px 16px; }
      .row.company .menu .item a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7); }
        .row.company .menu .item a span {
          padding: 8px 16px;
          margin: auto;
          height: 100%; }
  .row.company .menu.toggle {
    right: 0px; }

.row.slogan div {
  position: relative; }
  .row.slogan div .line {
    position: absolute;
    width: 500px;
    height: 2px;
    background-color: #40C2D5;
    top: 6px;
    left: calc(12.63156vw - 510px); }
    @media screen and (min-width: 400px) {
      .row.slogan div .line {
        top: 9px; } }
  .row.slogan div h1 {
    font-size: 1.2em;
    margin-top: 30px;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    color: #40C2D5; }
    @media screen and (min-width: 400px) {
      .row.slogan div h1 {
        font-size: 1.7em;
        margin-top: 30px; } }
    .row.slogan div h1 span {
      display: block; }
      .row.slogan div h1 span:first-child {
        margin-left: calc(12.63156vw + 35px); }
      .row.slogan div h1 span:nth-child(2) {
        margin-left: calc(18.63156vw + 66px); }

.row.description {
  margin-bottom: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 992px) {
    .row.description {
      display: block;
      margin-bottom: 50px; } }
  .row.description .points {
    margin-top: 100px; }
    @media screen and (max-width: 1200px) {
      .row.description .points {
        margin-top: 50px; } }
    @media screen and (max-width: 400px) {
      .row.description .points {
        margin-top: 25px; } }
    .row.description .points ul {
      margin-left: calc(0vw + 21px);
      padding-left: 15px;
      padding-right: 0px;
      list-style: none; }
      @media screen and (min-width: 768px) {
        .row.description .points ul {
          margin-left: calc(12.63156vw + 51px);
          padding-left: 15px;
          padding-right: 70px; } }
      .row.description .points ul li {
        padding: 10px;
        font-size: 0.9em;
        position: relative; }
        .row.description .points ul li:before {
          content: "";
          position: absolute;
          height: 12px;
          width: 21px;
          top: 18px;
          left: -25px;
          background-image: url(../images/list-bullet.svg);
          background-size: cover; }
  .row.description .col-xs-12.col-sm-12 .img.drone {
    height: 100%;
    width: 100%;
    margin-top: 50px;
    background-image: url("../images/dron3.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1200px) {
      .row.description .col-xs-12.col-sm-12 .img.drone {
        margin-top: 50px;
        height: 23vh; } }
    @media screen and (max-width: 400px) {
      .row.description .col-xs-12.col-sm-12 .img.drone {
        margin-top: 25px; } }

.row.items {
  margin-top: 100px;
  margin-bottom: 50px;
  display: none; }
  @media screen and (min-width: 768px) {
    .row.items {
      display: block; } }
  .row.items .items-lg {
    position: relative;
    width: calc(92.752vw - 99px);
    margin: auto; }
    @media screen and (min-width: 1100px) {
      .row.items .items-lg {
        width: calc(74.8vw - 137px); } }
    .row.items .items-lg ul {
      list-style: none;
      padding: 0px;
      width: calc(92.752vw - 99px);
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: auto;
      position: relative; }
      @media screen and (min-width: 1100px) {
        .row.items .items-lg ul {
          width: 64vw; } }
      .row.items .items-lg ul li {
        display: inline-block;
        width: 24%;
        text-align: center;
        font-size: 1em;
        z-index: 100;
        padding: 0px 10px; }
        @media screen and (max-width: 768px) {
          .row.items .items-lg ul li {
            display: block; } }
        @media screen and (max-width: 400px) {
          .row.items .items-lg ul li {
            width: 100%;
            display: block;
            padding: 5px 0px; }
            .row.items .items-lg ul li div {
              float: left;
              display: inline-block; } }
        .row.items .items-lg ul li div {
          width: 55%;
          height: 100px;
          display: block;
          margin: auto; }
          .row.items .items-lg ul li div .icon {
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
            background-repeat: no-repeat;
            background-size: 75px 75px;
            background-position: 50%; }
            @media screen and (min-width: 992px) {
              .row.items .items-lg ul li div .icon {
                background-size: 90px 90px; } }
          .row.items .items-lg ul li div .first {
            background-image: url(../images/icon1.png); }
          .row.items .items-lg ul li div .second {
            background-image: url(../images/icon2.png); }
          .row.items .items-lg ul li div .third {
            background-image: url(../images/icon3.png); }
          .row.items .items-lg ul li div .fourth {
            background-image: url(../images/icon4.png); }
        .row.items .items-lg ul li .text {
          font-size: 0.7em;
          display: inline-block; }
          @media screen and (min-width: 400px) {
            .row.items .items-lg ul li .text {
              font-size: 0.9em;
              display: block; } }
          @media screen and (min-width: 1100px) {
            .row.items .items-lg ul li .text {
              font-size: 0.8em; } }

.items1 {
  width: 100%;
  padding: 15px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .items1 {
      display: none; } }
  .items1 .cover {
    display: none;
    height: 100%;
    width: calc(15.15% + 15px);
    position: absolute;
    top: 70px;
    left: 0px;
    content: "";
    z-index: 99;
    background-color: #e8edf0; }
  .items1 .dots-horizontal {
    display: none;
    height: 100%;
    width: calc(15.15% + 15px);
    position: absolute;
    top: 70px;
    left: 30px;
    content: "";
    z-index: 99;
    background-image: radial-gradient(#40C2D5 2px, #e8edf0 3px);
    background-position: top;
    background-size: 17px 17px;
    background-repeat: repeat-x; }
  .items1 .dots-vertical {
    display: none;
    height: calc(50vh + 460px);
    width: calc(15.15% + 24px);
    position: absolute;
    top: 100px;
    left: 10px;
    content: "";
    z-index: 99;
    background-image: radial-gradient(#40C2D5 2px, rgba(255, 255, 255, 0) 3px);
    background-position: right;
    background-size: 17px 17px;
    background-repeat: repeat-y; }
  .items1 .item {
    width: 100%;
    padding: 15px 5px;
    height: 120px; }
    .items1 .item .icon {
      width: 33.3%;
      height: 100%;
      display: inline-block;
      float: left; }
      .items1 .item .icon span {
        height: 90px;
        width: 90px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: 90px 90px;
        display: block;
        content: "";
        z-index: 100;
        position: relative; }
    .items1 .item .text {
      display: inline-block;
      width: 66.6%;
      padding: 5px 15px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      height: 100%; }
  .items1 .item.first .icon span {
    background-image: url("../images/icon1.png"); }
  .items1 .item.second .icon span {
    background-image: url("../images/icon2.png"); }
  .items1 .item.third .icon span {
    background-image: url("../images/icon3.png"); }
  .items1 .item.fourth .icon span {
    background-image: url("../images/icon4.png"); }

.pr-0 {
  padding-right: 0px; }

.part.middle {
  margin-top: 50px;
  position: relative;
  overflow: hidden; }
  .part.middle .text {
    display: block;
    position: absolute;
    top: 50px;
    z-index: 100;
    width: 290px; }
    @media screen and (min-width: 400px) {
      .part.middle .text {
        width: 330px; } }
    @media screen and (min-width: 768px) {
      .part.middle .text {
        width: 740px; } }
    @media screen and (min-width: 992px) {
      .part.middle .text {
        width: 970px; } }
    @media screen and (min-width: 1200px) {
      .part.middle .text {
        width: 1200px; } }
    .part.middle .text span {
      float: right;
      position: relative;
      color: rgba(255, 255, 255, 0.75);
      font-size: 20px;
      text-transform: uppercase; }
      @media screen and (min-width: 400px) {
        .part.middle .text span {
          font-size: 25px; } }
      @media screen and (min-width: 768px) {
        .part.middle .text span {
          font-size: 30px; } }
      @media screen and (min-width: 992px) {
        .part.middle .text span {
          font-size: 40px; } }
      .part.middle .text span:before {
        position: absolute;
        height: 2px;
        width: 1100px;
        background-color: #40C2D5;
        left: -1120px;
        top: 50%;
        display: block;
        content: ""; }
        @media screen and (min-width: 1200px) {
          .part.middle .text span:before {
            width: 1100px;
            left: -1150px; } }
  .part.middle .introVid {
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/yt_bg2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .part.middle iframe {
    height: 50vh;
    overflow: hidden;
    width: 100vw; }
    @media screen and (min-width: 768px) {
      .part.middle iframe {
        height: 75vh; } }
    @media screen and (min-width: 1100px) {
      .part.middle iframe {
        height: 100vh; } }

.part.middle.index1 {
  z-index: 99; }

.part.middle.index2 iframe {
  z-index: 105;
  position: relative; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ebf9fb+0,fdffff+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ebf9fb 0%, #fdffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ebf9fb 0%, #fdffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ebf9fb 0%, #fdffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdffff',GradientType=0 );
  /* IE6-9 */
  background-color: #e8edf0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7); }
  body .container-fluid {
    padding: 0px; }
    body .container-fluid .part.top .row {
      margin-left: 0px;
      margin-right: 0px; }
