.part.top {
  background-color: #e8edf0; }
  @media screen and (max-width: 992px) {
    .part.top {
      height: auto; } }
  .part.top .row.company .img {
    background-size: cover; }
  .part.top .row.company .name {
    float: left;
    margin: 40px 45px;
    height: calc(20vw/4.8);
    width: 20vw;
    background-image: url("../images/logo3.svg");
    background-repeat: no-repeat; }
    @media screen and (max-width: 768px) {
      .part.top .row.company .name {
        margin: 20px 25px;
        height: calc(30vw/4.8);
        width: 30vw; } }
  .part.top .row.company .logo {
    float: right;
    margin: 45px 45px;
    height: calc(7.36vw/3);
    width: 3.68vw;
    background-image: url("../images/logo4.svg");
    background-repeat: no-repeat; }
    @media screen and (max-width: 768px) {
      .part.top .row.company .logo {
        margin: 20px 10px;
        height: calc(18.36vw/3);
        width: 9.68vw; } }
  .part.top .row.slogan h1 {
    text-align: left;
    text-transform: uppercase;
    position: relative;
    font-size: 1.7em;
    margin-top: 30px;
    color: #40C2D5; }
    @media screen and (max-width: 400px) {
      .part.top .row.slogan h1 {
        font-size: 1.2em;
        margin-top: 30px; } }
    .part.top .row.slogan h1:after {
      content: "";
      background-image: url("../images/kropki.svg");
      position: absolute;
      top: 25%;
      left: 10px;
      height: 10px;
      width: 80vw;
      background-repeat: no-repeat;
      z-index: 99; }
    .part.top .row.slogan h1 span {
      display: block; }
      .part.top .row.slogan h1 span:first-child {
        margin-left: 12vw; }
      .part.top .row.slogan h1 span:nth-child(2) {
        margin-left: 16vw; }
  .part.top .row.description {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 992px) {
      .part.top .row.description {
        display: block; } }
    .part.top .row.description .points {
      margin-top: 100px; }
      @media screen and (max-width: 1200px) {
        .part.top .row.description .points {
          margin-top: 50px; } }
      @media screen and (max-width: 400px) {
        .part.top .row.description .points {
          margin-top: 25px; } }
      .part.top .row.description .points ul {
        list-style: none;
        margin-left: calc(12vw + 21px);
        padding-left: 15px;
        padding-right: 70px; }
        @media screen and (max-width: 768px) {
          .part.top .row.description .points ul {
            margin-left: calc(0vw + 21px);
            padding-left: 15px;
            padding-right: 0px; } }
        .part.top .row.description .points ul li {
          padding: 10px;
          font-size: 0.9em;
          position: relative; }
          .part.top .row.description .points ul li:before {
            content: "";
            position: absolute;
            height: 12px;
            width: 21px;
            top: 18px;
            left: -25px;
            background-image: url(../images/list-bullet.svg);
            background-size: cover; }
    .part.top .row.description .col-xs-12.col-sm-12 .img.drone {
      height: 100%;
      width: 100%;
      margin-top: 50px;
      background-image: url("../images/dron3.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      @media screen and (max-width: 1200px) {
        .part.top .row.description .col-xs-12.col-sm-12 .img.drone {
          margin-top: 50px;
          height: 23vh; } }
      @media screen and (max-width: 400px) {
        .part.top .row.description .col-xs-12.col-sm-12 .img.drone {
          margin-top: 25px; } }
  .part.top .row.items {
    margin-top: 100px; }
    .part.top .row.items ul {
      list-style: none;
      padding: 0px;
      width: 64vw;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: auto;
      position: relative; }
      .part.top .row.items ul:after {
        content: "";
        background-image: url("../images/kropki.svg");
        position: absolute;
        top: 25%;
        left: -3vw;
        height: 10px;
        width: 80vw;
        background-repeat: no-repeat;
        z-index: 99; }
      .part.top .row.items ul li {
        display: inline-block;
        width: 24%;
        text-align: center;
        font-size: 1em;
        z-index: 100; }
        @media screen and (max-width: 768px) {
          .part.top .row.items ul li {
            display: block; } }
        .part.top .row.items ul li div {
          width: 55%;
          height: 100px;
          display: block;
          margin: auto; }
          .part.top .row.items ul li div .icon {
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
            background-repeat: no-repeat; }
          .part.top .row.items ul li div .first {
            background-image: url(../images/icon1_1.svg); }
          .part.top .row.items ul li div .second {
            background-image: url(../images/icon2_1.svg); }
          .part.top .row.items ul li div .third {
            background-image: url(../images/icon3_1.svg); }
          .part.top .row.items ul li div .fourth {
            background-image: url(../images/icon4_1.svg); }
