$main-color: #f9f9f9;
$accent-color: #40C2D5;
$hover-color: #0088aa;
$bg-color: #e8edf0;
$input-bg: #f5fcfd;
$input-border: #9fe1ea;
$text-color:rgba(0, 0, 0, 0.7);


$break-xsmall: 400px;
$break-small: 800px;
$break-medium: 1200px;
$break-large: 1170px;

$break-768: 768px;
$break-992: 992px;
$break-1100: 1100px;
$break-1200: 1200px;


@mixin background-gradient() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ebf9fb+0,fdffff+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #ebf9fb 0%, #fdffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ebf9fb 0%,#fdffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#ebf9fb 0%,#fdffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdffff',GradientType=0 ); /* IE6-9 */
}
