.part.bottom {
  .container {
    padding-top: 135px;
    margin-bottom: 125px;
    @media screen and (max-width: $break-768) {
      margin-bottom: 25px;
    }
    .contact-header {
      text-align: right;
      text-transform: uppercase;
      color: $accent-color;
      float: right;
      margin: 0px 0px 115px 0px;
      position: relative;
      font-size: 50px;
      @media screen and (min-width: $break-768) {
        font-size: 60px;
        br {
          display: none;
        }
      }
      .line {
        position: absolute;
        width: 2000px;
        height: 2px;
        background-color: $accent-color;
        top: 16px;
        left: -2030px;
        @media screen and (min-width: $break-xsmall) {
          left: -2030px;
        }
      }
    }
    form {
      .form {
        margin-left: 50px;
        position: relative;
        z-index: 100;
        -webkit-box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
        -moz-box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
        box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
        border-radius: 2px;
        @media screen and (min-width: $break-992) {
          padding-left: 0px;
        }
        @media screen and (min-width: $break-1200) {
          width: calc(100% - 70px);
          float: right;
        }
        .text {
          position: absolute;
          top: 83px;
          left: -140px;
          padding: 0px 20px;
          background-color: transparent;
          z-index: 100;
          text-transform: uppercase;
          color: $accent-color;
          -webkit-transform: rotate(270deg); /* Safari and Chrome */
          -moz-transform: rotate(270deg);   /* Firefox */
          -ms-transform: rotate(270deg);   /* IE 9 */
          -o-transform: rotate(270deg);   /* Opera */
          transform: rotate(270deg);
          @media screen and  (min-width: $break-992) {
            left: -190px;
            font-size: 30px;
            top: 125px;
          }
          @media screen and  (min-width: $break-1200) {
            left: -210px;
            font-size: 30px;
            top: 125px;
          }
        }
        .input {
          padding: 20px 25px;
          width: 100%;
          display: block;
          height: 60px;
          background-color: $input-bg;
          border: 0px;
          border-bottom: 3px solid $input-border;
          color: $text-color;
          &:active, &:hover, &:focus {
            outline: none;
          }
          &:nth-child(2) {
            float: left;
          }
        }
        .input.inline {
          display: inline-block;
          width: 50%;
          @media screen and (max-width: $break-768) {
            display: block;
            width: 100%;
          }
        }
        .input.textarea {
          height: 320px;
        }
      }
      .button-submit {
        float: right;
        background-color: transparent;
        font-size: 35px;
        padding: 15px 20px;
        color: $accent-color;
        text-transform: uppercase;
        border: none;
        position: relative;
        &:active, &:hover, &:focus {
          outline: none;
          color: $hover-color;
        }
        &:active .triangle, &:hover .triangle, &:focus .triangle {
          border-color: transparent transparent transparent $hover-color;
        }
        .triangle {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent $accent-color;
          position: absolute;
          right: 0px;
          top: calc(50% - 9px);
        }
      }
    }
    .contact-data {
      text-align: right;
      @media screen and (min-width: $break-992) and (max-width: $break-1200) {
        padding-right: 50px;
      }
      .logo {
        height: 53px;
        width: 232px;
        display: block;
        background-repeat: no-repeat;
        background-image: url("../images/logo3.svg");
        background-size: contain;
        float: right;
        margin-bottom: 35px;
        position: relative;
      }
      .text {
        display: block;
        float: right;
        address, .email, .phone {
          margin-bottom: 20px;
        }
        span {
          display: block;
        }
        .email {
          text-decoration: none;
          color: $text-color;
          span {
            margin: 20px 0px 70px 0px;
            &:before {
              background-image: url("../images/envelope.svg");
              left: calc(100% - 230px);
            }
          }
        }
        .phone, .email span {
          position: relative;
          &:before {
            position: absolute;
            content: "";
            top: 6px;
            height: 20px;
            width: 20px;
            background-size: 20px 20px;
          }
        }
        .phone {
          margin: 20px 0px;
          &:before {
            background-image: url("../images/phone.svg");
            left: calc(100% - 150px);
          }
        }
      }
      .contact-links {
        .icon {
          height: 30px;
          width: 30px;
          margin: 20px;
          display: inline-block;
          background: url(../images/icons1_svg.svg);
          background-repeat: no-repeat;
          background-size: 130px 60px;
        }
        .first {
          background-position: 0px -30px;
          &:hover, &:active, &:focus {
            background-position: 0px 0px;
          }
        }
        .second {
          background-position: -50px -30px;
          &:hover, &:active, &:focus {
            background-position: -50px 0px;
          }
        }
        .third {
          background-position: -105px -30px;
          margin-right: 0px;
          &:hover, &:active, &:focus {
            background-position: -105px 0px;
          }
        }
      }
    }
  }
  footer {
    border-top: 2px dotted $input-border;
    margin-top: 125px;
    @media screen and (max-width: $break-768) {
      margin-top: 25px;
    }
    .copyrights, .top, .design {
      font-size: 0.7em;
      display: inline-block;
    }
    .copyrights {
      float: left;
      width: 45%;
      padding: 25px 15px 25px 75px;
    }
    .top {
      text-align: center;
      margin: auto;
      text-transform: uppercase;
      width: 10%;
      padding: 25px 25px;
      a, a:hover, a:active, a:focus {
        color: $text-color;
        text-decoration: none;
      }
      span {
        position: relative;
        padding: 10px;
        &:before {
          position: absolute;
          top: 0px;
          left: calc(50% - 6px);
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 6px 6px 6px;
          border-color: transparent transparent $accent-color transparent;
        }
        &:hover::before {
          border-color: transparent transparent $hover-color transparent;
        }
      }
    }
    .design {
      float: right;
      width: 45%;
      text-align: right;
      padding: 25px 75px;
      em {
        font-style: normal;
        color: $accent-color;
      }
    }
    @media screen and (max-width: $break-768) {
      .top {
        display: none;
      }
      .copyrights, .design {
        width: 100%;
        text-align: center;
        float: none;
      }
      .copyrights {
        padding: 10px 10px 5px 10px;
      }
      .design {
        padding: 5px 10px 10px 10px;
      }
    }
  }
}
