.items1 {
  width: 100%;
  padding: 15px;
  position: relative;
  @media screen and (min-width: $break-768) {
    display: none;
  }
  .cover {
    display: none;
    height: 100%;
    width: calc(15.15% + 15px);
    position: absolute;
    top: 70px;
    left: 0px;
    content: "";
    z-index: 99;
    background-color: $bg-color;
  }
  .dots-horizontal {
    display: none;
    height: 100%;
    width: calc(15.15% + 15px);
    position: absolute;
    top: 70px;
    left: 30px;
    content: "";
    z-index: 99;
    background-image: radial-gradient($accent-color 2px, $bg-color 3px);
    background-position: top;
    background-size: 17px 17px;
    background-repeat: repeat-x;
  }
  .dots-vertical {
    display: none;
    height: calc(50vh + 460px);
    width: calc(15.15% + 24px);
    position: absolute;
    top: 100px;
    left: 10px;
    content: "";
    z-index: 99;
    background-image: radial-gradient($accent-color 2px, rgba(255, 255, 255, 0) 3px);
    background-position: right;
    background-size: 17px 17px;
    background-repeat: repeat-y;
  }
  .item {
    width: 100%;
    padding: 15px 5px;
    height: 120px;
    .icon {
      width: 33.3%;
      height: 100%;
      display: inline-block;
      float: left;
      span {
        height: 90px;
        width: 90px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: 90px 90px;
        display: block;
        content: "";
        z-index: 100;
        position: relative;
      }
    }
    .text {
      display: inline-block;
      width: 66.6%;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
    }
  }
  .item.first .icon span {
    background-image: url("../images/icon1.png");
  }
  .item.second .icon span {
    background-image: url("../images/icon2.png");
  }
  .item.third .icon span {
    background-image: url("../images/icon3.png");
  }
  .item.fourth .icon span {
    background-image: url("../images/icon4.png");
  }
}
