@import 'variables';
@import 'bottom_part.scss';
@import 'top_part.scss';
@import 'items.scss';

.pr-0 {
  padding-right: 0px;
}


// iframe test
.part.middle {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  .text {
    display: block;
    position: absolute;
    top: 50px;
    z-index: 100;
    width: 290px;
    @media screen and (min-width: $break-xsmall) {
      width: 330px;
    }
    @media screen and (min-width: $break-768) {
      width: 740px;
    }
    @media screen and (min-width: $break-992) {
      width: 970px;
    }
    @media screen and (min-width: $break-1200) {
      width: 1200px;
    }
    span {
      float: right;
      position: relative;
      color: rgba(255, 255, 255, 0.75);
      font-size: 20px;
      text-transform: uppercase;
      @media screen and (min-width: $break-xsmall) {
        font-size: 25px;
      }
      @media screen and (min-width: $break-768) {
        font-size: 30px;
      }
      @media screen and (min-width: $break-992) {
        font-size: 40px;
      }
      &:before {
        position: absolute;
        height: 2px;
        width: 1100px;
        background-color: $accent-color;
        left: -1120px;
        top: 50%;
        display: block;
        content: "";
        @media screen and (min-width: $break-1200) {
          width: 1100px;
          left: -1150px;
        }
      }
    }
  }
  .introVid {
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/yt_bg2.svg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
  }
  iframe {
    height: 50vh;
    overflow: hidden;
    width: 100vw;
    @media screen and (min-width: $break-768) {
      height: 75vh;
    }
    @media screen and (min-width: $break-1100) {
      height: 100vh;
    }
  }
}
.part.middle.index1 {
    z-index: 99;
}
.part.middle.index2 iframe {
    z-index: 105;
    position: relative;
}





body {
  @include background-gradient();
  background-color: $bg-color;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: $text-color;
  .container-fluid {
    padding: 0px;
    .part.top {
      .row {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}
