@import 'variables';

.part.top {
  margin-bottom: 50px;
  padding-top: 60px;
  @media screen and (max-width: $break-992) {
    height: auto;
  }
  .navigation-s {
    z-index: 115;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    -moz-box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    @media screen and (min-width: $break-768) {
      display: none;
    }
    .img.name {
      float: left;
      height: 30px;
      width: 150px;
      margin: 15px 20px;
      background-size: cover;
      background-image: url("../images/logo3.svg");
      background-repeat: no-repeat;
    }
    .menu {
      background-color: #ffffff;
      position: absolute;
      top: 60px;
      left: 0px;
      width: 100%;
      box-shadow: 0px 5px 2px -3px rgba(25, 80, 87, 0.2);
      -webkit-box-shadow: 0px 5px 2px -3px rgba(25, 80, 87, 0.2);
      -moz-box-shadow: 0px 5px 2px -3px rgba(25, 80, 87, 0.2);
      height: 0px;
      transition: height 0.2s ease-in;
      .button {
        position: absolute;
        height: 30px;
        width: 45px;
        background-image: url(../images/logo4.svg);
        background-repeat: no-repeat;
        padding: 10px;
        background-position: center;
        content: "";
        display: block;
        background-size: contain;
        margin: 5px;
        border-radius: 2px;
        top: -50px;
        right: 15px;
        cursor: pointer;
      }
      .items {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.15s, opacity 0.1s ease-in-out;
        a {
          text-decoration: none;
          color: $accent-color;
          width:100%;
          .item {
            text-align: right;
            padding: 15px 20px;
            width: 100%;
            &:hover {
              background-color: $input-bg;
            }
            &:active {
              background-color: $accent-color;
              color: #ffffff;
            }
            span {
              width:100%;
              margin: auto;
              height: 100%;
            }
          }
        }
      }
    }
    .menu.toggle {
      height: 174px;
      .items {
        visibility: visible;
        opacity: 1;
      }
    }
  }


  .navigation-l {
    overflow: hidden;
    display: none;
    z-index: 115;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    -moz-box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    @media screen and (min-width: $break-768) {
      display: block;
    }
    .img.name {
      float: left;
      height: 30px;
      width: 150px;
      margin: 15px 20px;
      background-size: cover;
      background-image: url("../images/logo3.svg");
      background-repeat: no-repeat;
    }
    .menu {
        background-color: #ffffff;
        position: absolute;
        top: 5px;
        right: -370px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
        -webkit-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
        -moz-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
        -ms-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
        -o-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      }
      .button, .items {
        display: inline-block;
        float: left;
      }
      .button {
        cursor: pointer;
        div {
          .img {
            height: 40px;
            width: 55px;
            background-image: url(../images/logo4.svg);
            background-repeat: no-repeat;
            padding: 10px;
            background-position: center;
            content: "";
            display: block;
            background-size: contain;
            margin: 5px;
            border-radius: 2px;
          }
        }
      }
      .items {
        a {
          text-decoration: none;
          color: $text-color;
          &:active, &:hover, &:focus {
            color: $accent-color;
          }
          .item {
            display: inline-block;
            float: left;
            margin: 8px 16px;
            span {
              padding: 8px 16px;
              margin: auto;
              height: 100%;
            }
          }
        }
      }
      .menu.toggle {
        right: 0px;
      }
    }
  }
  .row.company {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    -moz-box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    box-shadow: 0px 1px 5px 1px rgba(25,80,87,0.2);
    position: relative;
    @media screen and (min-width: $break-992) {
          overflow-x: hidden;
    }
    .img {
      background-size: cover;
    }
    .name {
      float: left;
      margin: 35px 45px;
      height: calc(20vw/4.8);
      width: 20vw;
      background-image: url("../images/logo3.svg");
      background-repeat: no-repeat;
      @media screen and (max-width: $break-768) {
        margin: 20px 25px;
        height: calc(30vw/4.8);
        width: 30vw;
      }
    }
    .menu {
      position: absolute;
      top: 35px;
      right: -355px;
      display: flex;
      flex-flow: row wrap;
      /* This aligns items to the end line on main-axis */
      justify-content: flex-end;
      transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      -webkit-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      -moz-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      -ms-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      -o-transition: right 1s cubic-bezier(0, 0, 0.33, 1.26);
      @media all and (max-width: $break-992) {
        flex-direction: column;
      }
      .button, .item {
        display: inline-block;
        float: left;
      }
      .button {
        a {
          .img {
            height: 40px;
            width: 55px;
            background-image: url(../images/logo4.svg);
            background-repeat: no-repeat;
            padding: 10px;
            background-position: center;
            content: "";
            display: block;
            background-size: contain;
            margin: 5px;
            border-radius: 2px;
          }
        }
      }
      .item {
        display: inline-block;
        float: left;
        margin: 8px 16px;
        a {
          text-decoration: none;
          color: $text-color;
          span {
            padding: 8px 16px;
            margin: auto;
            height: 100%;
          }
        }
      }
    }
    .menu.toggle {
      right: 0px;
    }
  }
  .row.slogan {
    div {
      position: relative;
      .line {
        position: absolute;
        width: 500px;
        height: 2px;
        background-color: #40C2D5;
        top: 6px;
        left: calc(12.63156vw - 510px);
        @media screen and (min-width: $break-xsmall) {
          top: 9px;
        }
      }
      h1 {
        font-size: 1.2em;
        margin-top: 30px;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        @media screen and (min-width: $break-xsmall) {
          font-size: 1.7em;
          margin-top: 30px;
        }
        color: $accent-color;
        span {
          display: block;
          &:first-child {
            margin-left: calc(12.63156vw + 35px);
          }
          &:nth-child(2) {
            margin-left: calc(18.63156vw + 66px);
          }
        }
      }
    }
  }
  .row.description {
    @media screen and (max-width: $break-992) {
      display: block;
      margin-bottom: 50px;
    }
    margin-bottom: 200px;
    display: flex;
    .points {
      @media screen and (max-width: $break-medium) {
        margin-top: 50px;
      }
      @media screen and (max-width: $break-xsmall) {
        margin-top: 25px;
      }
      margin-top: 100px;
      ul {
        margin-left: calc(0vw + 21px);
        padding-left: 15px;
        padding-right: 0px;
        list-style: none;
        @media screen and (min-width: $break-768) {
          margin-left: calc(12.63156vw + 51px);
          padding-left: 15px;
          padding-right: 70px;
        }
        li {
          padding: 10px;
          font-size: 0.9em;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            height: 12px;
            width: 21px;
            top: 18px;
            left: -25px;
            background-image: url(../images/list-bullet.svg);
            background-size: cover;
          }
        }
      }
    }
    .col-xs-12.col-sm-12 {
      .img.drone {
        height: 33vh;
        width: 100%;
        @media screen and (max-width: $break-medium) {
          margin-top: 50px;
          height: 23vh;
        }
        @media screen and (max-width: $break-xsmall) {
          margin-top: 25px;
        }
        margin-top: 50px;
        background-image: url("../images/dron3.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }
  .row.items {
    margin-top: 100px;
    margin-bottom: 50px;
    display: none;
    @media screen and (min-width: $break-768) {
      display: block;
    }
    .items-lg {
      position: relative;
      width: calc(92.752vw - 99px);
      margin: auto;
      @media screen and (min-width: $break-1100) {
        width: calc(74.8vw - 137px);
      }
      ul {
        list-style: none;
        padding: 0px;
        width: calc(92.752vw - 99px);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: auto;
        position: relative;
        @media screen and (min-width: $break-1100) {
          width: 64vw;
        }
        li {
          @media screen and (max-width: $break-768) {
            display: block;
          }
          @media screen and (max-width: $break-xsmall) {
            width: 100%;
            display: block;
            padding: 5px 0px;
            div {
              float: left;
              display: inline-block;
            }
          }
          display: inline-block;
          width: 24%;
          text-align: center;
          font-size: 1em;
          z-index: 100;
          padding: 0px 10px;
          div {
            width: 55%;
            height: 100px;
            display: block;
            margin: auto;
            .icon {
              width: 100%;
              height: 100%;
              display: block;
              margin: auto;
              background-repeat: no-repeat;
              background-size: 75px 75px;
              background-position: 50%;
              @media screen and (min-width: $break-992) {
              background-size: 90px 90px;
              }
            }
            .first {
              background-image: url(../images/icon1.png);
            }
            .second {
              background-image: url(../images/icon2.png);
            }
            .third {
              background-image: url(../images/icon3.png);
            }
            .fourth {
              background-image: url(../images/icon4.png);
            }
          }
          .text {
            font-size: 0.7em;
            display: inline-block;
            @media screen and (min-width: $break-xsmall) {
              font-size: 0.9em;
              display: block;
            }
            @media screen and (min-width: $break-1100) {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
